<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="d-table w-100 section py-5">
    <div class="share-audio m-auto">
        <div class="container-fluid m-auto h-100 align-items-center row d-flex">

            <div class="col-lg-6 col-12 d-flex align-items-center">
                <div class="share-audio-img">
                    <div class="video-clip-img">
                        <img src="assets/images/app/video-clip.png" class="img-fluid" alt="">
                    </div>
                    <div class="music-player-img">
                        <img src="assets/images/app/music-player.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 h-100 col-12 share-audio-title-container">
                <div class="title-heading">
                    <h1 class="heading title1 mb-3 p-0 p-sm-5 share-audio-title text-center text-sm-start"> {{"share2"|translate}} </h1>
                    <p class="para-desc title2 share-audio-sub-title mb-1 pb-1">{{"there"|translate }}</p>
                </div>
            </div>
            <!--end col-->


        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>