<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="d-table w-100 section py-5">
    <div class="present m-auto">
        <div class="container-fluid m-auto align-items-center row d-flex">
            <div class="col-lg-6 h-100 col-12">
                <div class="title-heading">
                    <h1 class="heading mb-3 title1 present-title text-center text-sm-start">{{"Findout" |translate}}</h1>
                    <p class="para-desc title2 present-sub-title">{{"there"|translate }}</p>
                    <div class="mt-4 text-center text-sm-start px-5 mb-4 appsContainers">
                        <a href="#" class="btn btn-wishthbapp-dark mt-2 mx-1"><i class="uil uil-apple"></i>
                           {{"AppStore" |translate}}</a>
                        <a href="#" class="btn btn-wishthbapp-light mt-2 mx-1"><i class="uil uil-google-play"></i> 
                            {{"PlayStore"| translate }}</a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-6 col-12">
                <div class="present-img">
                    <img src="assets/images/app/present.png" class="img-fluid" alt="" style="background-size:contain ;">
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>