<section class="section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12 d-flex justify-content-center align-items-center ">
                <div class="mt-5 mt-sm-0 d-flex flex-column justify-content-center align-items-center">
                    <p class="text-center row download-sub-title">{{"life"|translate}}</p>
                    <p class="text-center row download-title">{{"download"|translate}}</p>
                    <div class="mt-4 text-center text-sm-start px-5">
                        <a href="#" class="btn btn-wishthbapp-dark mt-2 mx-1"><i class="uil uil-apple"></i>
                           {{"AppStore"|translate}}</a>
                        <a href="#" class="btn btn-wishthbapp-light mx-1 outline-black mt-2"><i
                                class="uil uil-google-play"></i> {{"PlayStore"|translate}}</a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>