<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="section py-0">
    <div class="invite-friends">
        <div class="pink-layer">
        </div>
        <div class="blue-layer">
            <div class="align-items-center d-flex justify-content-center h-100 row d-flex">
                <div class="col-lg-6 col-12">
                    <div class="text-md-end text-center d-flex justify-content-center">
                        <img src="assets/images/app/cone.png" class="img-fluid cone-img " alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-12 d-flex">
                    <div class="title-heading">
                        <h1 class="heading mb-3 title1 invite-friends-title text-center text-sm-start">{{"invite"|translate}}</h1>
                        <p class="para-desc title2 invite-friends-sub-title">{{"there"|translate }}</p>
                    </div>
                </div>
                <!--end col-->
    
    
            </div>
        </div>
    </div>
</section>