<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <app-download-app-one id="download-one"></app-download-app-one>
    <app-download-app-two id="download-two"></app-download-app-two>
    <app-invite-friends id="invite-friends"></app-invite-friends>
    <app-share-stories id="share-stories"></app-share-stories>
    <app-share-audio id="share-audio"></app-share-audio>
    <app-chat-now id="chat-now"></app-chat-now>
    <app-download-app-three id="download-three"></app-download-app-three>
    <app-footer></app-footer>
</div>