<section data-aos="slide-left" data-aos="slide-left" data-aos-duration="2500" data-aos-easing="ease"
    data-aos-once="false" class="d-table w-100 section pt-5 pb-1">
    <div class="chat-now m-auto">
        <div class="container-fluid m-auto align-items-center row d-flex">
            <div class="col-lg-7 h-100 col-12">
                <div class="title-heading">
                    <h1 class="heading title1 mb-2 px-0 pb-0 px-sm-6 chat-now-title text-center text-sm-start">{{"youcan"|translate }}</h1>
                    <div class="text-center text-sm-start
                    px-0 px-sm-6">
                        <img src="assets/images/app/persons-ellipses-group.png" class="img-fluid" alt="">

                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-5 col-12">
                <div class="map-img">
                    <img src="assets/images/app/chat.png" class="img-fluid" alt="" style="background-size:contain ;">
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>