.chat-now {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 75vh;
    position: relative;
    width: 94%;
    border-radius: 49px;
}

.chat-now-title {
    // font-family: 'Noto Sans Arabic';
    font-family: "Cairo",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    // padding: 2rem;
    text-align: right;
    color: #131313;
    // padding-bottom: 0px !important;
}
@media (max-width:400px) {
    .chat-now-title{
        font-size: 30px !important;
    }
}
.chat-now-sub-title {
    // font-family: 'Noto Sans Arabic';
    font-family: "Cairo",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: right;
    color: #383838;
    padding: 2rem;
}

.map-img {
    display: flex;
    justify-content: center;
    height: 50vh;

    @media (min-width: 0px) and (max-width: 1024px) {
        max-height: 265px;
    }

}

.ellipse-img {
    width: 65px;
    height: 65px;
}

.p-sm-6 {
    @media (min-width: 576px) {
        padding: 4rem !important;
        padding-top: 4rem !important;
        padding-right: 4rem !important;
        padding-bottom: 4rem !important;
        padding-left: 4rem !important;
    }
}